table {
	width: 100%;
	margin-bottom: 1.75em;
	background: #fcfcfc;
}

tr {
	border-bottom: 1px solid #EEE;
}

td, th {
	padding: 8px;
	text-align: left;
	vertical-align: top;
	font-size: 1.5rem;
	line-height: 1.5;
}

th {
	padding-bottom: 4px;
}
